.DS_Store
*.xls
*.pdf
*.pyc
__pycache__/
.vscode
.env
data/indicators/merged_daily_features.csv
data/indicators/merged.csv
data/indicators/merged_withIndicators.csv
data/merged_withIndicators.csv
data/fred/names.txt
